<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PRODUCT PAGE 2026</title>
  <link href="/addpro.css" rel="stylesheet"type="text/css" />
</head>
<body>
  <!-- <div class="formpage"> -->
    <form  method="POST" action="/addproduct" enctype="multipart/form-data">
        <h1>Add New Product</h1>
        <hr/>
        <input type="file" id="imgUrl" name='imgUrl' placeholder='IMG_URL' accept="image/*"/>
        <label for="imgUrl">Choose An Image</label>
        <input type="text" name='title'placeholder='TITLE' />
        <input type="text" name='describtion'placeholder='DESCRIBETION' />
        <input type="number" name='price' placeholder='PRICE' />
        <input type="submit" value='Submit'/>
    </form>
  <!-- </div> -->
</body>
</html>