<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOG IN PAGE</title>
  <link href="/login.css" rel="stylesheet"type="text/css" />
</head>
<body>
    <form  method="POST" action="/login_data" class="login_form">
        <h1>Login</h1>
        <hr/>
        <input type="email" name='email'placeholder='EMAIL' />
        <input type="password" name='password'placeholder='PASSWORD' />
        <div class="login_btns">
            <input type="submit" value='Login'/>
            <button><a href="/signup">Sign up</a></button>
        </div>
    </form>
</body>
</html>