<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIGN UP PAGE</title>
  <link href="/signup.css" rel="stylesheet"type="text/css" />
</head>
<body>
    <form  method="POST" action="/signup_data" class="signup_form">
        <h1>Sign up</h1>
        <hr/>
        <input type="text" name='username'placeholder='USER NAME' />
        <input type="text" name='nickname'placeholder='NICK NAME' />
        <input type="email" name='email'placeholder='EMAIL' />
        <input type="password" name='password'placeholder='PASSWORD' />
        <div class="signup_btns">
            <input type="submit" value='Sign up'/>
            <button><a href="/">Log in</a></button>
        </div>
    </form>
</body>
</html>