.formpage{
    background-color: rgb(149, 14, 149);
}

form {
    background-color: rgb(231, 227, 231);
    background-color: black;
    width: 40%;
    margin-left: 30%;
    height: 675px;
    margin-top: 50px;
    /* border-radius: 20px; */
    display: block;
    border: 3px white solid;
}

input{
    display: block;
    width: 80%;
    height: 8%;
    margin-left: 10%;
    border-radius: 4px;
    outline-width:0px;
    border: 1px rgb(149, 14, 149) solid;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    padding: 3px 10px;
    color: rgb(149, 14, 149);
}

label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 6%;
    margin-left: 10%;
    border-radius: 4px;
    outline-width:0px;
    border: 1px rgb(149, 14, 149) solid;
    margin-top: 50px;
    cursor: pointer;
    font-size: 20px;
    padding: 3px 10px;
    color: whitesmoke;
    background-color: rgb(149, 14, 149);
}

h1{
    width: 50%;
    margin-left: 25%;
    text-align: center;
    color: whitesmoke;
    margin-top: 40px;
}

form hr{
    width: 50%;
}

input[type='submit']{
    width: 28%;
    margin-left: 36%;
    font-weight: bold;
    background-color: rgb(149, 14, 149);
    margin-top: 50px;
    color: white;
    height: 7%;
    border-radius:8px;
    cursor: pointer;
}

input[name='imgUrl']{
    display: none;
}
