

.edit_form {
    background-color: black;
    width: 40%;
    margin-left: 30%;
    height: 675px;
    margin-top: 50px;
    /* border-radius: 20px; */
    display: block;
    border: 3px white solid;
}

.edit_form input{
    display: block;
    width: 80%;
    height: 8%;
    margin-left: 10%;
    border-radius: 4px;
    outline-width:0px;
    border: 1px rgb(149, 14, 149) solid;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    padding: 3px 10px;
    color: rgb(149, 14, 149);
}

.edit_form label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 6%;
    margin-left: 10%;
    border-radius: 4px;
    outline-width:0px;
    border: 1px rgb(149, 14, 149) solid;
    margin-top: 50px;
    cursor: pointer;
    font-size: 20px;
    padding: 3px 10px;
    color: whitesmoke;
    background-color: rgb(149, 14, 149);
}


.edit_form h1{
    width: 50%;
    margin-left: 25%;
    text-align: center;
    color: whitesmoke;
    margin-top: 40px;
}

.edit_form hr{
    width: 50%;
}

.edit_form input[type='submit']{
    width: 24%;
    margin-left: 38%;
    font-weight: bold;
    background-color: rgb(149, 14, 149);
    margin-top: 50px;
    color: white;
    height: 7%;
    border-radius:8px;
    letter-spacing: 4px;
    cursor: pointer;
}

.edit_form input[name='imgUrl'], .edit_form input[name="id"]{
    display: none;
}

input[name='imgName']{
    display: none;
}
