.cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 20%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    margin-left: calc(20%/5);
    margin-top: 40px;
}

.card .head{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 4px black solid;
}

.head h2{
    width: 80%;
    height: 15%;
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.head img{
    height: 75%;
    width: 60%;
    outline: 6px whitesmoke double;
    margin-bottom: 4%;
}

.card .last_card_part{
    background-color: rgb(149, 14, 149);
    height: 30%;
    width: 100%;
    display: flex;
    border: 4px rgb(149, 14, 149) solid;
}
.last_card_part .description {
    width: 75%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.description p{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
    height: 62%;
    color: whitesmoke;
}

.btns_parent{
    width: 100%;
    height: 25%;
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 5px;
}

.description .delete_btn ,.description .cart_btn{
    height: 100%;
    width: 35%;
}

.description .cart_btn{
    margin-right: 20px;
    width: 45%;
}

.delete_btn input ,.cart_btn input{
    width: 100%;
    height: 100%;
    background-color: black;
    border: 2px whitesmoke solid;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.last_card_part .price_edit{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height: 100%;
}
.price_edit .price{
    width: 100%;
    height: 25%;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-top: 0px;
    font-weight: bold;
    font-size: 18px;
}

.price span{
    color: rgb(151, 246, 151);
    font-size: 30px;
}

.price_edit .edit_btn{
    background-color: black;
    width: 85%;
    height: 25%;
    margin-bottom: 5px ;
    border: 2px whitesmoke solid;
}

.price_edit .edit_btn a{
    color: whitesmoke;
    text-decoration: none;
    font-weight:600;
    font-size: 16px;
    letter-spacing: 1px;
}

