.signup_form {
    background-color: rgb(231, 227, 231);
    background-color: black;
    width: 40%;
    margin-left: 30%;
    height: 675px;
    margin-top: 50px;
    /* border-radius: 20px; */
    display: block;
    border: 3px white solid;
}

.signup_form input , .signup_form .signup_btns{
    display: block;
    width: 80%;
    height: 8%;
    margin-left: 10%;
    border-radius: 4px;
    outline-width:0px;
    border: 1px rgb(149, 14, 149) solid;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    padding: 3px 10px;
    color: rgb(149, 14, 149);
}

.signup_form .signup_btns{
    border: 1px transparent solid;
    display: flex;
    justify-content: space-evenly;
}

.signup_form h1{
    width: 50%;
    margin-left: 25%;
    text-align: center;
    color: whitesmoke;
    margin-top: 20px;
}

.signup_form hr{
    width: 50%;
}

.signup_btns input[type='submit'] ,.signup_btns button{
    width: 28%;
    font-weight: bold;
    background-color: rgb(149, 14, 149);
    color: whitesmoke;
    height: 90%;
    border-radius:8px;
    cursor: pointer;
    margin: 0px;
    letter-spacing: 1px;
}

.signup_btns button{
    border: 1px black solid;
}

.signup_btns button a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

